*{
font-size: large;

}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

.background-container {
    position: relative;
    height: 60%;
    overflow: hidden;
}

.background-container::before, .background-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: opacity 2s ease-in-out;
}

.background-container::before {
   background-image: url("imagenes de perros/cachorro 2.jpg");
}

.background-container::after {
    background-image: url("imagenes de perros/labrador.jpg");
    opacity: 0;
    animation: fadeBackground 8s infinite;
}

@keyframes fadeBackground {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


h1 {
    text-align: center;
    color: #575757;
    font-size: larger;

}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #aa74a6;
    padding: 10px;
}

.navbar ul {
    list-style: none; /* Eliminar los puntos de la lista */
    display: flex;
    gap: 20px; /* Espacio entre cada elemento */
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.introduccion {
    font-family: 'Times New Roman';
    font-size: larger;
    color: #aa74a6;
    text-align: center;
    margin: 50px;
    padding: 50px;
}