*{
    font-size: large;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style: none; /* Eliminar los puntos de la lista */
    display: flex;
    gap: 20px; /* Espacio entre cada elemento */
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}

